<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" th:method="POST">
        <label for="name">Имя</label>
        <input th:field="*{name}" type="text" id="name">
        <br>
        <label for="lastName">Фамилия</label>
        <input th:field="*{lastName}" type="text" id="lastName">
        <br>
        <label for="age">Возраст</label>
        <input th:field="*{age}" type="number" id="age" >
        <br>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>
</html>