<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table class="table table-striped-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.getName()}">VALUE</td>
            <td th:text="${user.getLastName()}">VALUE</td>
            <td th:text="${user.getAge()}">VALUE</td>
            <td>
                <a th:type="button" th:id="${user.getId()}" th:href="@{/{id}/deleteUser(id=${user.getId()})}">Удалить</a>
            </td>
            <td>
                <a th:type="button" th:id="${user.getId()}" th:href="@{/{id}/edit(id=${user.getId()})}">Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <button onclick="location.href='add-new-user'" th:type="button">Добавить</button>


</div>
</body>
</html>